In [1]:
!date

Tue Apr  4 13:44:33 UTC 2023

## Demostration of using `tcc_cft_tool` package to run CFT API calculation
Author: Yafan Tang

In [3]:
import pandas as pd

from tcc_cft_tool import CftTool, CftTemplate,CftExcel
# from tcc_s3 import SSM, S3

In [3]:
# retrieve app key from s3
# skip this cell, if you have had the key.

# ssm = SSM("production")
# app_key = ssm.get_parameter("production.team-science.cft-api.app-key")

app_key =

/Users/yafan.tang/opt/anaconda3/envs/cft_v0.3.2/lib/python3.9/site-packages/tcc_s3/aws_service.py:26: FutureWarning: Passing an environment argument is deprecated. In the future this argument will be ignored.
  warnings.warn(

In [5]:
# get json example data
template = CftTemplate()
request_ls = template.input_json_template

In [8]:
# get 
# prepare a example data yourself using latest excel template
input_path =  "/mnt/Cool_Farm_Tool_API/CFT-API-Excel-Template_V2.0.1.xlsx"
excel_io = pd.ExcelFile(input_path, engine="openpyxl")
cft_excel = CftExcel(excel_io)
request_ls = cft_excel.transform_excel_to_request()[:5]

Transforming sheet: 0-2 Farm-Crop-Soil...

AttributeError: Can only use .str accessor with string values!

In [6]:
cft = CftTool(request_ls, app_key,cft_major_version=1)
cft.validate_request()
validation_df = cft.validation_result
assert (~validation_df["validate_status"]).sum() ==0

Validating schema of CFT API requests...

In [7]:
# check if any case failed data validation
validation_df[~validation_df["validate_status"]]

Empty DataFrame
Columns: [AssessmentID, request, validate_status, validate_error]
Index: []

In [8]:
# interact with CFT API
cft.call_api()

Calling CFT API ...
Calculation result acquired!

/Users/yafan.tang/opt/anaconda3/envs/cft_v0.3.2/lib/python3.9/site-packages/tcc_cft_tool/cft_tool.py:133: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  api_df.groupby(["validate_status", "group"])

In [9]:
# show detail results
cft.api_result

,AssessmentID,request,validate_status,validate_error,return
0,A59::2021,{'farm': {'average_temperature': {'value': 11....,True,None,"{'farm': {'farm_identifier': 'A59'}, 'summary'..."
1,AAN DE WATERTOREN::2022,{'farm': {'average_temperature': {'value': 11....,True,None,{'farm': {'farm_identifier': 'AAN DE WATERTORE...
2,AKAZIENBUSCH::2022,{'farm': {'average_temperature': {'value': 11....,True,None,"{'farm': {'farm_identifier': 'AKAZIENBUSCH'}, ..."
3,ARCO LANGRE::2022,{'farm': {'average_temperature': {'value': 18....,True,None,"{'farm': {'farm_identifier': 'ARCO LANGRE'}, '..."
4,AUFELD::2021,{'farm': {'average_temperature': {'value': 11....,True,None,"{'farm': {'farm_identifier': 'AUFELD'}, 'summa..."

In [10]:
# check if any returns contain error
cft.api_result[cft.api_result["return"].astype(str).str.contains("error")]

Empty DataFrame
Columns: [AssessmentID, request, validate_status, validate_error, return]
Index: []

In [11]:
# parse summary section
cft.parse_summary()

              AssessmentID                 result     value       unit
0                A59::2021        emissions_total  32191.05     kgCO2e
1                A59::2021     emissions_per_area   2160.47  kgCO2e/ha
2                A59::2021  emissions_per_product      0.04  kgCO2e/kg
3                A59::2021    soil_organic_carbon      0.81          %
4                A59::2021   machinery_fuel_usage      0.00      litre
0  AAN DE WATERTOREN::2022        emissions_total   2308.03     kgCO2e
1  AAN DE WATERTOREN::2022     emissions_per_area    384.67  kgCO2e/ha
2  AAN DE WATERTOREN::2022  emissions_per_product      0.40  kgCO2e/kg
3  AAN DE WATERTOREN::2022    soil_organic_carbon      0.52          %
4  AAN DE WATERTOREN::2022   machinery_fuel_usage      0.00      litre
0       AKAZIENBUSCH::2022        emissions_total  22266.21     kgCO2e
1       AKAZIENBUSCH::2022     emissions_per_area   2024.20  kgCO2e/ha
2       AKAZIENBUSCH::2022  emissions_per_product      0.07  kgCO2e/kg
3       AKAZIENBUSCH::2022    soil_organic_carbon      0.81          %
4       AKAZIENBUSCH::2022   machinery_fuel_usage      0.00      litre
0        ARCO LANGRE::2022        emissions_total  32734.82     kgCO2e
1        ARCO LANGRE::2022     emissions_per_area   2045.93  kgCO2e/ha
2        ARCO LANGRE::2022  emissions_per_product      0.03  kgCO2e/kg
3        ARCO LANGRE::2022    soil_organic_carbon      1.00          %
4        ARCO LANGRE::2022   machinery_fuel_usage   1384.00      litre
0             AUFELD::2021        emissions_total   8147.65     kgCO2e
1             AUFELD::2021     emissions_per_area   1275.06  kgCO2e/ha
2             AUFELD::2021  emissions_per_product      0.22  kgCO2e/kg
3             AUFELD::2021    soil_organic_carbon      1.22          %
4             AUFELD::2021   machinery_fuel_usage      0.00      litre

In [12]:
# parse detail section
cft.parse_detail()

,AssessmentID,source,CO2,N2O,CH4,total_CO2e,total_CO2e_per_area,total_CO2e_per_product
0,A59::2021,fertiliser_production,32599.30,0.00,0.0,32599.30,2187.87,0.04
1,A59::2021,fertiliser_soil,0.00,36.28,0.0,9904.84,664.75,0.01
2,A59::2021,field_energy,4472.92,0.00,0.0,4472.92,300.20,0.01
3,A59::2021,irrigation,0.00,0.00,0.0,0.00,0.00,0.00
4,A59::2021,machinery,0.00,0.00,0.0,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...
8,AUFELD::2021,residue,0.00,6.94,0.0,1895.89,296.70,0.05
9,AUFELD::2021,seed,0.00,0.00,0.0,0.00,0.00,0.00
10,AUFELD::2021,storage,0.00,0.00,0.0,0.00,0.00,0.00
11,AUFELD::2021,transportation,0.00,0.00,0.0,0.00,0.00,0.00
12,AUFELD::2021,waste_water,0.00,0.00,0.0,0.00,0.00,0.00